---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    <div class="floating-icons" aria-hidden="true">
      <span class="floating-icon floating-icon--robot"><i class="fas fa-robot"></i></span>
      <span class="floating-icon floating-icon--heartbeat"><i class="fas fa-heartbeat"></i></span>
      <span class="floating-icon floating-icon--stethoscope"><i class="fas fa-stethoscope"></i></span>
      <span class="floating-icon floating-icon--brain"><i class="fas fa-brain"></i></span>
      <span class="floating-icon floating-icon--microchip"><i class="fas fa-microchip"></i></span>
      <span class="floating-icon floating-icon--capsules"><i class="fas fa-capsules"></i></span>
    </div>
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

<div class="footer_site">
<hr/>
<div class="footer_copyright">
  © 2026 成都中医药大学 · 张林帅 | 基于&nbsp
  <a class="page_a"  href="https://github.com/RayeRen/acad-homepage.github.io">
  acad
  </a>&nbsp模板
</div>
</div>
  </body>
</html>
